.widget {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
    background: white;
    border-radius: 4px;
    height: 100px;

    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            color: #6A6A6A;
            font-size: 14px;
            font-weight: 300;
        }

        .numbers {
            font-size: 26px;
            font-weight: 500;
            color: #1A1A1A;
        }

        .description {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #6A6A6A;

            .icon {
                font-size: 18px;
                color: #0FA44A;
                margin: 5px;
                padding-bottom: 2px;
            }

            span {
                color: #0FA44A;
            }
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

}