.sidebar {
    flex: 1;
    background: #fff;
    height: 100vh;

    .top {
        margin: 20px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            color: #0FA44A;
            font-weight: 800;
            font-size: 30px;
        }
    }

    .center {
        display: flex;
        margin: 10px 0 10px 0;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            width: 100%;

            li {
                display: flex;
                align-items: center;
                padding: 15px;
                cursor: pointer;

                &:hover {
                    background-color: #0FA44A;

                    .icon {
                        color: #fff;
                    }

                    span {
                        color: #fff;
                    }
                }



                .icon {
                    font-size: 18px;

                }

                span {
                    font-size: 20px;
                    margin-left: 10px;
                    font-weight: 300;
                    color: #323232f3;
                }
            }


        }

    }

    .bottom {
        margin-top: 150px;
        margin-bottom: 20px;
        padding: 15px;
        display: flex;
        align-items: center;

        .icon {
            font-size: 18px;
            color: #0FA44A;
        }

        span {
            font-size: 20px;
            margin-left: 10px;
            font-weight: 500;
            color: #0FA44A;
            cursor: pointer;
        }
    }
}