.postactivity {
    margin: 20px 0;

    .heading {
        color: #1A1A1A;
        font-size: 20px;
    }

    .content {

        th {
            padding: 10px 0;
            display: flex;
            justify-content: center;
        }

        .desc {
            margin: 0;
            padding: 0;
        }

        .eyetext {
            align-items: center;
        }


        .date {
            align-items: center;
        }

        .icon {
            color: #0FA44A;
            padding-right: 5px;

        }

        .more {
            cursor: pointer;
        }
    }
}